<html>
    <head></head>
    <body>
        <ul>
            <a href= '/numbers'>Form 이용해보기</a><br>
            <a href= '/form'>GET과 POST</a><br>
            <a href= '/url/wild'>Paramater(wildcard)</a><br>
            <a href= '/search'>구글/네이버 검색창 만들기</a><br>
            <a href='/op_gg'>fake op.gg 만들기</a><br>
        </ul>
    </body>
</html>